.App {
  text-align: center;
}
.App-header {
  background: url(./background.jpg) center fixed;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #cccccc;
  padding: 55px;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  position: relative;
}
.frame {

  padding: 35px;
  margin-bottom: 30px;
  
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1rem;


}

ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 10px;
}

.note {
  box-shadow: 0 3px 6px rgba(0,0,0,.25);
  margin: 20px;
  border: 1px solid rgba(0,0,0,.25);
  padding-top: 10px;
  position: relative;
  transition: .5s ;
}
.note:nth-child(2){
  grid-column: span 4;
  grid-row: span 2;
  background-color: #b6e6ff;
}

.note:nth-child(1){
  grid-column: span 2;
  
}

.note:nth-child(4),
.note:nth-child(3){
  grid-column: span 3;
}

.note:hover{
  transform: rotate(0.5deg);
  transform: scale(1.2, 1.2);
}

.note::after{
  position: absolute;
  background-image: radial-gradient(#c73e19, #ffa88f);
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,.25);
  top: 3px;

}

.sticky2 {
  transform: rotate(3.5deg);
  background-color: rgba(227, 220, 26);
}

.sticky1 {
  transform: rotate(-3.5deg);
 
  background-color: #ecb3f7;
}

.text {
  margin: 4px;
  color: #282c34;
  font-size: 1rem;
}

h6{
  margin: 0;
}

.like-btn{
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
}
.like{
  color: #c73e19;
  text-shadow: 3px 3px 16px #272634;

}
.dis-like{
  color: #13a4f2;
  text-shadow: 3px 3px 16px #272634;
}

.like-box{
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  display: flex;
  align-items: center;
}


